[build]
  publish = "public"
  functions = "netlify/functions"

[[redirects]]
  from = "/live/:slug"
  to = "/.netlify/functions/livePost/:slug"
  status = 200

[[redirects]]
  from = "/sitemap.xml"
  to = "/.netlify/functions/sitemap"
  status = 200

[[headers]]
  for = "/sitemap.xml"
  [headers.values]
    Content-Type = "application/xml"
